<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('./config/import') %>
</head>
<body class="bg-zinc-50">

    <div class="flex justify-center px-5">
        <div class="w-full max-w-7xl flex justify-center items-center h-screen">
            <div>
                <h1 class="uppercase tracking-widest">
                    404 | Not Found
                </h1>
            </div>
        </div>
    </div>
    
</body>
</html>